div.jumbotron.hero-photography {
  color:#fff;
  text-align:center;
  background:url('hero.jpg');
  background-size:cover;
  background-position:center;
  padding-top:100px;
  padding-bottom:100px;
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow:0 3px 3px rgba(0,0,0,0.4);
  color:#fff;
}

p.hero-subtitle {
  max-width:600px;
  margin:25px auto;
  color:#fff;
}

